.App {
  text-align: center;
  background-color: rgb(209, 209, 203);
  height: 100vh;
}

.App-header {
  background-color: rgb(205, 112, 80);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(242, 233, 233);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
